<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dare.Talk</title>

  <!-- CSS -->

  <link rel="stylesheet" href="./styles/global.css" />
  <link rel="stylesheet" href="./styles/home.css" />

  <!-- FONTS GOOGLE-->

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;600;700&display=swap"
    rel="stylesheet" />
</head>

<body>
  <div id="home" class="content">
    <header>
      <img class="img" src="./images/logodare.svg" alt="logo" />
      <div class="circle"></div>
    </header>

    <div id="bg"></div>
    <div class="ball top"></div>
    <div class="ball bottom"></div>
    <main>
      <div class="container">
        <section>
          <h2>Entre como participante</h2>
          <form action="">
            <label class="sr-only" for="room-id">C칩digo da sala</label>
            <!-- class na label para sumir com a label, 
            porem continuar com acessibilidade -->

            <input type="number" id="room-id" placeholder="C칩digo da sala" />
            <button>
              <img src="./images/enter-room.svg" alt="entrar na sala" />
              Entrar na sala
            </button>
          </form>
        </section>

        <div class="separator">
          <div class="line1"></div>
          <div>ou</div>
          <div class="line2"></div>
        </div>
        <section>
          <h2>Crie sua pr칩pria sala, de forma f치cil</h2>
          <a href="./create-room" class="button outlined">
            <img class="lockimg" src="./images/users.svg" alt="criar sala" />
            Criar sala
          </a>
        </section>
      </div>
    </main>
  </div>
  <script src="/public/scripts/main.js"></script>
</body>

</html>